body{
    position: relative;
    width: 400px;
    overflow: hidden;
    height: 100vh;
}

html{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}


video{
    width :100%;
    object-fit: cover;
    object-position: center;

}