body{
    position: relative;
    width: 375px;
    overflow: hidden;
    height: 100vh;
}

html{
    background-color: black;
    display: flex;
    justify-content: center;
}


video{
    width :100%;
    object-fit: cover;
    object-position: center;

}
